<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: April, 2023.                                                                   #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) ROS 2 Sim-to-Real Robot Control. URL: https://github.com/IFRA-Cranfield/ros2_SimRealRobotControl.

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="abb_gripper_ros2control" params="bringup" >

     <!-- Load ROS 2 Gazebo Plugin -->
  <xacro:unless value="${bringup}">
    
  
    <gazebo reference="${gripper_prefix}ABB_Gripper_Finger_1">
      <surface>
        <friction>
          <torsional>
            <ode>
              <coefficient>100.0</coefficient>
              <use_patch_radius>true</use_patch_radius>
              <patch_radius>0.015</patch_radius>
            </ode>
          </torsional>
          <ode>
            <mu>100.0</mu>
            <mu2>100.0</mu2>
            <slip1>0.0</slip1>
            <slip2>0.0</slip2>
          </ode>
        </friction>
        <contact>
          <ode>
            <max_vel>0.0</max_vel>
            <min_depth>0.001</min_depth>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
          </ode>
        </contact>
      </surface>
    </gazebo>

    <gazebo reference="${gripper_prefix}ABB_Gripper_Finger_2">
      <surface>
        <friction>
          <torsional>
            <ode>
              <coefficient>100.0</coefficient>
              <use_patch_radius>true</use_patch_radius>
              <patch_radius>0.015</patch_radius>
            </ode>
          </torsional>
          <ode>
            <mu>100.0</mu>
            <mu2>100.0</mu2>
            <slip1>0.0</slip1>
            <slip2>0.0</slip2>
          </ode>
        </friction>
        <contact>
          <ode>
            <max_vel>0.0</max_vel>
            <min_depth>0.001</min_depth>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
          </ode>
        </contact>
      </surface>
    </gazebo>


  </xacro:unless>

  <ros2_control name="ABBGripperHardware" type="system">
  <hardware>
    <xacro:if value="${bringup}">
      <plugin>abb_gripper_driver/ABBGripperHWInterface</plugin>
    </xacro:if>
    <xacro:unless value="${bringup}">
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </xacro:unless>
  </hardware>

  <joint name="gripper_ABB_Gripper_Finger_1_Joint">
    <command_interface name="position" />
    <state_interface name="position" />
  </joint>

  <joint name="gripper_ABB_Gripper_Finger_2_Joint">
    <command_interface name="position" />
    <state_interface name="position" />
  </joint>
    </ros2_control>
  </xacro:macro>

</robot>

