<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Simplified ABB Gripper">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-6.16229807088287E-05 0.000397044841007611 0.0601224512562915"
        rpy="0 0 0" />
      <mass
        value="0.11334946311637" />
      <inertia
        ixx="0.000118523378283267"
        ixy="4.05959251897651E-08"
        ixz="2.09444182034886E-07"
        iyy="0.000132170090215626"
        iyz="-1.74630848024325E-06"
        izz="2.68714333136684E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified ABB Gripper/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified ABB Gripper/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="ABB_Gripper_Finger_1">
    <inertial>
      <origin
        xyz="4.8407E-07 0.039218 -0.010001"
        rpy="0 0 0" />
      <mass
        value="0.019385" />
      <inertia
        ixx="8.3469E-06"
        ixy="2.3563E-10"
        ixz="8.0656E-11"
        iyy="9.7422E-07"
        iyz="3.9475E-07"
        izz="8.3545E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified ABB Gripper/meshes/ABB_Gripper_Finger_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified ABB Gripper/meshes/ABB_Gripper_Finger_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ABB_Gripper_Finger_1_Joint"
    type="prismatic">
    <origin
      xyz="-0.003375 0.00175 0.10638"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="ABB_Gripper_Finger_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ABB_Gripper_Finger_2">
    <inertial>
      <origin
        xyz="4.8407E-07 0.039218 -0.010001"
        rpy="0 0 0" />
      <mass
        value="0.019385" />
      <inertia
        ixx="8.3469E-06"
        ixy="2.3563E-10"
        ixz="8.0656E-11"
        iyy="9.7422E-07"
        iyz="3.9475E-07"
        izz="8.3545E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified ABB Gripper/meshes/ABB_Gripper_Finger_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Simplified ABB Gripper/meshes/ABB_Gripper_Finger_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ABB_Gripper_Finger_2_Joint"
    type="prismatic">
    <origin
      xyz="0.0038418 0.00175 0.10638"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="ABB_Gripper_Finger_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="ABB_Gripper_Finger_1_Joint"
      multiplier="1"
      offset="0" />
  </joint>
</robot>